/* Color theme:
#221F33 - primary (dark)
#2D294A - dark accent
#534C8A - grey
#8F83ED - secondary (highlight)
#FBF8FF - white
#FDFFFC - white accent
*/

html {
    font-size: 18px;
    height: 100svh;
    width: 100svw;
}

* {
    box-sizing: border-box;
}

body {
    display: block;
    background-color: #fbf8ff;
    font-family: aileron, sans-serif;
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
}

.nav-main {
    background-color: #fbf8ff;
    padding: 1.5em 0;
    position: sticky;
    top: 0px;
    box-shadow: 0 0 8px #221f33;
    z-index: 999;
    width: 100svw;
}

.nav-wrapper {
    max-width: 90em;
    margin: 0 auto;
    padding: 0 1.5em;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.header-logo {
    max-width: 12.5em;
}

.navbar-links {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links ul li {
    margin-right: 1em;
    padding: 0 1em;
}

.navbar-links ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: inherit;
}

.navbar-links ul li a:hover {
    cursor: pointer;
    color: #8F83ED;
}

.center-content {
    max-width: 90em;
    margin: 0 auto;
}

.center-items {
    margin: 0 auto;
    text-align: center;

}

.content-wrapper {
    margin: 0 auto;
    padding: 0 1.5em;
    padding-top: 10em;
    padding-bottom: 10em;
}

#hero {
    padding: 4em 0 8em 0;
}

#hero h1 {
    max-width: 54rem;
    margin-bottom: 0.5em;
    line-height: 1.125em;
}

#hero h2 {
    max-width: 45rem;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.text-center {
    text-align: center;
}

.button-primary {
    display: inline-block;
    background-color: #221f33;
    border-radius: 1.375em;
    justify-content: center;
    padding: 1.625em 2.375em;
    border: 0px;
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    color: #fbf8ff;
    text-decoration: none;
}

.button-primary:hover {
    background-color: #8F83ED;
    cursor: pointer;
    color: #221F33;
}

.grid-layout {
    grid-row-gap: 3em;
    grid-column-gap: 3.5em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
}

.grid-item {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
    grid-row-gap: 3em;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.mg-bottom-1em {
    margin-bottom: 1em;
}

.mg-bottom-2em {
    margin-bottom: 2em;
}

.mg-top-4em {
    margin-top: 4em;
}

.light-card {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 2.625em 4.875em;
    display: flex;
    box-shadow: 0 0.75em 2em rgba(83, 76, 138, 0.1);
    background-color: #fdfffc;
    border-radius: 3em;
}

.grid-img {
    max-width: 15rem;
}

.flex-between-center {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.content-text {
    max-width: 38em;
    margin-right: 3.5em;
    position: relative;
}

.img-about {
    object-fit: cover;
    border: 1em solid #fdfffc;
    border-radius: 1.375em;
    box-shadow: 0 9px 31px rgba(83, 76, 138, 0.1);
    display: inline-block;
    max-width: 60%;

}

.display-1 {
    font-weight: 700;
    font-size: 5.75rem;
    line-height: normal;
}

.display-2 {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: normal;
}

.display-3 {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: normal;
}

.display-4 {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: normal;
}

.paragraph-large {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5em;
}




/* Media query for desktop */
@media only screen and (min-width: 62em) {
    html {
        font-size: 18px;
    }

    .display-1 {
        font-size: 5.75rem;
        line-height: normal;
    }

    .display-2 {
        font-size: 3.5rem;
        line-height: normal;
    }

    .display-3 {
        font-size: 2.2rem;
        line-height: normal;
    }

    .display-4 {
        font-size: 1.5rem;
        line-height: normal;
    }

    .paragraph-large {
        font-size: 1.5rem;
    }
}

/* Media query for tablet */
@media only screen and (max-width: 61em) {
    html {
        font-size: 18px;
    }

    .display-1 {
        font-size: 4.5rem;
        line-height: normal;
    }

    .display-2 {
        font-size: 3rem;
        line-height: normal;
    }

    .display-3 {
        font-size: 2rem;
        line-height: normal;
    }

    .display-4 {
        font-size: 1.125rem;
        line-height: normal;
    }

    .paragraph-large {
        font-size: 1.125rem;
        line-height: normal;
    }
}

/* Media query for mobile landscape */
@media only screen and (max-width: 48em) and (orientation: landscape) {
    html {
        font-size: 16px;
    }

    .display-1 {
        font-size: 4rem;
        line-height: normal;
    }

    .display-2 {
        font-size: 2.5rem;
        line-height: normal;
    }

    .display-3 {
        font-size: 1.75rem;
        line-height: normal;
    }

    .display-4 {
        font-size: 1rem;
        line-height: normal;
    }

    .paragraph-large {
        font-size: 1rem;
        line-height: normal;
    }
}

/* Media query for mobile portrait */
@media only screen and (max-width: 30em) {
    html {
        font-size: 16px;
    }

    .display-1 {
        font-size: 2.5rem;
        line-height: normal;
    }

    .display-2 {
        font-size: 2.25rem;
        line-height: normal;
    }

    .display-3 {
        font-size: 1.5rem;
        line-height: normal;
    }

    .display-4 {
        font-size: 1rem;
        line-height: normal;
    }

    .paragraph-large {
        font-size: 1rem;
        line-height: normal;
    }
}